html {
  background-color: mintcream;
}
.caixa {
  width: 341px;
  height: 500px;
  background-color: aliceblue;
  border: groove white 1px;
  position: absolute;
  border-radius: 6px;
}

.tit {
  padding-left: 20px;
  padding-right: 20px;
  width: 100px;
  transform: translate(97px, 10px);
  font-size: 20px;
  border-bottom: solid black 1px;
  font-family: ghos;
  text-align: center;
}

.menu {
  background-color: oldlace;
  width: 53px;
  border-radius: 3px;
  border: solid black 1px;
  transform: translate(1px, 50px);
  position: absolute;
  text-align: center;
}

.add {
  background-color: oldlace;
  padding-left: 2px;
  width: 45px;
  border-radius: 3px;
  border: solid black 1px;
  text-align: center;
  position: absolute;
  transform: translate(1px, 22px);
  display: none;
}

.rmv {
  background-color: oldlace;
  padding-left: 2px;
  width: 45px;
  border-radius: 3px;
  border: solid black 1px;
  text-align: center;
  display: block;
  position: absolute;
  transform: translate(60px, 22px);
  display: none;
}

.inputAdd {
  transform: translate(1px, -5px);
  width: 80px;
  outline: none;
  border: solid black 1px;
  border-radius: 4px;
  position: absolute;
  display: none;
  
}

.inputRMV {
  transform: translate(90px, -5px);
  width: 100px;
  outline: none;
  border: solid black 1px;
  border-radius: 4px;
  position: absolute;
  display: none;
}

.cxz {
   position: relative;
   width: 230px;
   height: 20px;
   border: solid white 1px;
   border-radius: 3px;
   transform: translate(30px, 8px);
   text-align: center;
   margin-top: 7px;
   background-image: radial-gradient(circle, red, black);
   color: white;
   font-family: ghos;
   padding-top: 2px;
   box-shadow: 0px 0px 9px 2px red;
   padding-left: 2px;
   padding-right: 2px;
   padding-bottom: 2px;
   
}
.conteinerAddRmv {
  transform: translate(5px, 400px);
  position: absolute;
}

.tarefassq{
  position: absolute;
  transform: translate(40px, 20px);
  width: 250px;
  border: solid black 1px;
}

.rmvT {
  background-color: oldlace;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  border: solid black 1px;
  text-align: center;
  position: relative;
  line-height: 20px;
  transform: translate(-55px, -18px);
  color: black;
}

.cliT {
  background-color: oldlace;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  border: solid black 1px;
  text-align: center;
  position: relative;
  line-height: 20px;
  transform: translate(-30px, -40px);
  color: black;
  font-family: arial;
}


@font-face {
  font-family: "ghos";
  src: url(ghost.otf);
}